.cardtop{
    margin: 10px;
    max-width: 200px;
    border: 2px solid rgb(225, 223, 223);
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(252,252,251);
}
.img-card{
    width: 180px;
    height: 150px;
    border-radius: 10px;
}
.prize{
    background-color:rgb(105,170,72);
    text-align: center;
    margin-top: 2px;
    width: 180px;
    height: 35px;
}
.time{
    display: flex;
    justify-content: space-between;
   
}
.cardtop:hover{
    cursor: pointer;
    border: 3px solid rgb(25, 25, 25);
}